openapi: 3.0.0
info:
  version: 0.1.0
  title: CepteMenu OAS
  description: Open API Specification for Cepte Menu application.
  license:
    name: MIT
  contact:
    name: API Support
    url: https://ceptemenu.app/support
    email: support@ceptemenu.app
servers:
  - url: https://api.ceptemenu.app
tags:
  - name: auth
paths:
  /auth:
    post:
      summary: Issue new token
      operationId: auth.bearer
      description: Issue new bearer token with user credentials.
      tags:
        - auth
      requestBody:
        description: User account credentials
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/IssueTokenRequest'
      responses:
        '201':
          $ref: '#/components/responses/TokenCreated'
        '422':
          $ref: '#/components/responses/UnprocessableContent'
components:
  schemas:
    ValidationError:
      type: object
      required:
        - message
        - errors
      properties:
        message:
          type: string
          example: The given data was invalid.
        errors:
          type: object
          properties:
            key 1:
              type: array
              items:
                type: string
                example: Error message 1
            key 2:
              type: array
              items:
                type: string
                example: Error message 2
    IssueTokenRequest:
      title: Issue Token
      description: Credentials for issue new token
      required:
        - email
        - password
        - device_name
      type: object
      properties:
        email:
          title: E-Mail Address
          description: User e-mail address
          type: string
          format: email
        password:
          title: Password
          description: User password
          type: string
          format: password
        device_name:
          title: Device Name
          description: Device name
          type: string
          format: device
    IssueToken:
      type: object
      properties:
        device_name:
          type: string
        token:
          type: string
          format: password
        abilities:
          type: array
          items:
            type: string
  responses:
    UnprocessableContent:
      description: Unprocessable Content
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ValidationError'
    TokenCreated:
      description: Token created
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/IssueToken'
