openapi: "3.1.0"
info:
  version: 0.1.0
  title: CepteMenu OAS
  description: Open API Specification for Cepte Menu application.
  license:
    name: MIT License
    identifier: MIT
    url: https://mit-license.org/
  contact:
    name: API Support
    url: https://ceptemenu.app/support
    email: support@ceptemenu.app
servers:
  - url: https://api.ceptemenu.app
tags:
  - name: Auth
    description: Authentication related endpoints
  - name: Account
    description: Account related endpoints
  - name: Place
    description: Place related endpoints
  - name: Place Category
    description: Place' category related endpoints
  - name: Place Product
    description: Place' product related endpoints
paths:
  /auth:
    $ref: "./resources/auth.yaml"
  /account:
    $ref: "./resources/account.yaml"
  /places:
    $ref: "./resources/places.yaml"
  /places/{placeId}:
    $ref: "./resources/place.yaml"
  /places/{placeId}/landing:
    $ref: "./resources/place_landing.yaml"
  /places/{placeId}/categories:
    $ref: "./resources/place_categories.yaml"
  /places/{placeId}/categories/{placeCategoryId}:
    $ref: "./resources/place_category.yaml"
  /places/{placeId}/products:
    $ref: "./resources/place_products.yaml"
  /places/{placeId}/products/{placeProductId}:
    $ref: "./resources/place_product.yaml"
components:
  schemas:
    ValidationError:
      $ref: "./schemas/ValidationError.yaml"
    IssueTokenRequest:
      $ref: "./schemas/IssueTokenRequest.yaml"
    IssueToken:
      $ref: "./schemas/IssueToken.yaml"
  responses:
    UnprocessableContent:
      $ref: "./responses/UnprocessableContent.yaml"
    TokenCreated:
      $ref: "./responses/TokenCreated.yaml"
  securitySchemes:
    bearer:
      type: http
      bearerFormat: JWT
      scheme: bearer
